@charset "utf-8";
@font-face {
    font-family: 'SpecialElite';
    src: url('../fonts/SpecialElite.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cardo';
    src: url('../fonts/cardo/cardo-regular.woff') format('woff');
}
@font-face {
    font-family: 'cardo';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/cardo/cardo-italic.woff') format('woff');
}
@font-face {
    font-family: 'cardo';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/cardo/cardo-bold.woff') format('woff');
}