@charset "utf-8";
html {
	font-size: 62.5%;
}
body {
	font-family: 'cardo', sans-serif;;
	color: #575757;
	background-size: 100% 1.5rem;
	background-image: -webkit-linear-gradient(#eee .05rem, transparent 1px);
	background-image: -moz-linear-gradient(#eee .05rem, transparent 1px);
	background-image: linear-gradient(#eee .05rem, transparent 1px);
}

main {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	min-height: 400px;
}
h1, h2, h3 {
	font-family: 'SpecialElite', sans-serif;
}
h1 {
	font-size: 4rem;
}
q:first-of-type {
	text-align: left;
	width: 15%;
}
h2 {
	font-size: 2.5rem;
	line-height: 1.2;
}
h2 + p::first-letter {
	font-size: 2.7rem;
	float: left;
	margin-top: 5px;
	font-family: 'SpecialElite', sans-serif;
}
h3 {
	font-size: 1.5rem;
	line-height: 1;
}
h3::before {
	content: "❧ ";
}
p {
	text-align: justify;
}
.gras {
	font-weight: bold;
}
.souligne {
	text-decoration: none;
	border-bottom: 1px dotted;
	color: inherit;
}
p:last-of-type::after {
	content: "❦";
	font-size: 4rem;
	display: block;
	margin: 10% 50%;
}
q {
	display: block;
    font-size: 1rem;
    font-style: italic;
    color: #666;
    text-align: center;
    margin-top: 3rem;
}
cite {
	display: block;
    text-align: right;
    margin-bottom: 3rem;
}
